<!-- HEADER -->
<header class="header">
	<a href="/"
		><img
			class="logo"
			src="../public/images_icons/meteorRain.png"
	/></a>

	<nav>
		<div class="nav-item">
			<a
				href="/"
				class="<%= activeTab === 'Home' ? 'active-nav-item' : '' %>"
				>Home</a
			>
		</div>
		<div class="nav-item">
			<a
				href="/my-profile"
				class="<%= activeTab === 'Profile' ? 'active-nav-item' : '' %>"
				>Profile</a
			>
		</div>
		<div class="nav-item">
			<a href="/api/user/logout">Log out</a>
		</div>
	</nav>
</header>
