<nav>
	<div class="container">	
		<div class="nav-container">
			<div class="forum-icon">
				<img src="./public/camerabl.png" alt="">
			</div>
			<div class="navigacija">
				<a href="/">Namai</a>
				<a href="/forum">Forumas</a>
				<a href="/register">Registracija</a>
				<a href="/login">Prisijungimas</a>
			</div>
		</div>
    </div>
</nav>