<nav>
	<div class="container">	
		<div class="nav-container">
			<div class="forum-icon">
				<img src="../public/images_icons/meteorRain.png" alt="">
			</div>
			<div class="navigacija">
				<a href="/">Home</a>
				<a href="/forum">Forum</a>
				<a href="/register">Register</a>
				<a href="/login">Log In</a>
			</div>
		</div>
    </div>
</nav>