<!-- pics gallery ↓ -->
<div class="post">
    <img src="https://random.imagecdn.app/300/200" alt="">
    <a class="pic-name" href="">Nature</a>
    <div class="pic-details">
        <p class="photographer">Photographer: <a href="">Jubar</a></p>
        <p class="likes">Likes: <a href="">325</a></p>
        <p class="comments">Comments: <a href="">26</a></p>
        <p class="posted">Posted: <span>06.12.22</span></p>
    </div>
</div>
<!-- <div class="big">
            <img src="https://picsum.photos/200/300?random=1" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="big">
            <img src="https://picsum.photos/200/300?random=19" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="wide">
            <img src="https://picsum.photos/200/300?random=8" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=3" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="wide">
            <img src="https://picsum.photos/200/300?random=4" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="big">
            <img src="https://picsum.photos/200/300?random=18" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=9" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=6" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=5" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="big">
            <img src="https://picsum.photos/200/300?random=17" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="wide">
            <img src="https://picsum.photos/200/300?random=10" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=7" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=11" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="big">
            <img src="https://picsum.photos/200/300?random=12" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="wide">
            <img src="https://picsum.photos/200/300?random=13" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=14" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="tall">
            <img src="https://picsum.photos/200/300?random=15" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div>
        <div class="big">
            <img src="https://picsum.photos/200/300?random=16" alt="">
            <a class="pic-name" href="">Nature</a>
            <div class="pic-details">
                <p class="photographer">Photographer: <a href="">Jubar</a></p>
                <p class="likes">Likes: <a href="">325</a></p>
                <p class="comments">Comments: <a href="">26</a></p>
                <p class="posted">Posted: <span>06.12.22</span></p>
            </div>
        </div> -->