body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.favDialog {
    background: url(images/seats.jpg) no-repeat;
    height: fit-content;
    border-bottom: 15px solid rgb(35,35,35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px;
    display: none;
}

.dialog {
    background: transparent;
    border-radius: 8px;
    border: 3px solid rgb(48, 48, 48);
    width: 320px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 30px rgba(0,0,0, .5);
    padding: 48px 68px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs input {
    padding: 24px 16px;
    background-color: rgba(70, 90, 126, 0.4);
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgb(184, 181, 181);
    width: 92%;
}

.inputs button {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 20px;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputs a {
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
}

.inputs a:hover,
.remember-forgottt a:hover {
    text-decoration: none;
    color: rgb(162, 160, 160);
    text-decoration: underline;
}

.signin-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.signin-close i{
    cursor: pointer;
}

.remember-forgottt {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 12px;
    margin: -15px 0 15px;
    gap: 10px;
    font-size: 16px;
}

.remember-forgottt p{
    color: rgb(184,184,184);
}

.remember-forgottt a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.google {
    color: rgb(184,184,184);
    font-size: 12px;
}

.google a {
    text-decoration: none;
    color: rgb(184,184,184);
    text-decoration: underline;

}

