* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
}

.netflix-header-sign-up {
    background: url(images/seats.jpg) no-repeat;
    height: 700px;
    border-bottom: 15px solid rgb(35,35,35);
}
.default-ltr-cache-1d568uk {
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;
}
svg {
    width: 90px;
    height: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 32px;
}
.language-picker,
.signin-btn {
    font-size: 1rem;
}

.language-picker{
    background-color: #0F0F0F;
    color: white;
    padding: 6px 36px;
    border-radius: 4px;
    border: 1px solid rgb(184, 181, 181);
    margin-right: 8px;
}

.signin-btn {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
}

.get-started {
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 7.5rem 0 2rem;
}
.get-started h1 {
    font-size: 48px;
}

.get-started p {
    font-size: 1.5rem;
    margin: 1rem 0 0;
    font-weight: 400;
}

.ready-to-watch {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.email-get-started {
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.email-input {
    padding: 24px 16px;
    width: 52%;
    font-size: 20px;
    text-align: left;
    background-color: #0f0f0f80;
    border: 1px solid rgb(184, 181, 181);
    border-radius: 4px;
}

.email-get-started button {
    width: 42%;
    background-color: rgb(229,10,20);
    color: white;
    padding: 24px 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.enjoy-tv,
.offline,
.watch-everywhere,
.kids-section,
.FAQs,
.contacts{
    background-color: rgb(0,0,0);
    height: 700px;
    border-bottom: 15px solid rgb(35,35,35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 120px 0 100px;
    gap: 20px;
}

.enjoy-tv-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 20px 20px;
}

.enjoy-tv h2 {
    font-size: 48px;
}

.enjoy-tv p {
    font-size: 1.5rem;
    margin: 1rem 0 0;
    font-weight: 400;
    text-align: left;
}

.enjoy-tv iframe {
    position: relative;
    height: 550px;
}
.enjoy-tv .tv {
    position: absolute;
    top: 825px;
    right: 149px;
}


.offline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offline-mobile {
    position: relative;
}

.phone {
    width: 100%;
}

.downloading {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 360px;
    position: absolute;
    background-color: rgba(0,0,0);
    border: 3px solid rgb(48, 48, 48);
    border-radius: 8px;
    bottom: 50px;
    left: 110px;

}

.stranger-things {
    width: 50px;
    height: 72px;
    margin-right: 20px;
}

.downloading-stranger-things p {
    font-size: 16px;
}
.downloading-stranger-things p span{
    font-size: 14px;
    color: rgb(0,75,236);
}

.downloading-stranger-things {
    margin-right: 50px;
}

.watch-everywhere-text {
    width: 40%;
}

.downloading-h2,
.watch-everywhere-text h2,
.kids-text h2,
.FAQS h2 {
    font-size: 48px;
    text-align: left;

}
.downloading-h2 p,
.watch-everywhere-text h2 p,
.kids-text p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}

.teletubbies {
    height: 180px;
    position: relative;
    padding-left: 90px;
}
.teletubbies-screen {
    position: absolute;
    top: 2341px;
    right: 53px;
}

.FAQs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-height: 900px;
    
}

.faq {
    cursor: pointer;   
    margin-bottom: 5px;
    width: 60%;
    background-color: rgb(45,45,45);
    margin-bottom: -15px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-bottom: 5px;
}

.question p {
    font-size: 18px;
}
.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2 ease;
    border-top: 2px solid black;
}

.answer p {
    padding: 24px;
    line-height: 1;
    font-size: 18px;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade .2s ease-in-out;
}
.faq.active svg {
    transform: rotate(45deg);
}

.faq svg {
    transition: transform .2s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.ready-to-watch {
    margin-top: 40px;
}

.contacts {
    display: block;
    padding: 72px 32px 20px;
    border-bottom: none;
    height: fit-content;
}

.contacts p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contacts a {
    text-decoration: none;
    color: #FFFFFFB3;
    text-decoration-line: underline;
}

.contacts .grid a {
    font-size: 14px;
    color: #FFFFFFB3;
    margin-bottom: 15px;
}

.contacts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
    display: flex;
    flex-direction: column;
}

.netflix-lt {
    font-size: 14px;
    margin: 24px 0 0;
}