@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 5px;
}

.box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
}

.box-container {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.weightInput {
  min-width: 100px;
}
