body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(24, 64, 196, 0.808);
    width: 22rem;
    color: white;
    text-align: center;
}

div {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}