/* body {
} */
/* hr {
  width: 75%;
} */
.container {
  display: flex;
  justify-content: space-evenly;
  margin:10px 200px 10px;
  border-top: 2px solid rgba(128, 128, 128, 0.555);
  border-width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  gap: 15px;
}
.container img {
  width: 15rem;
  height: 10rem;
  object-fit: scale-down;
  margin: 0;
}
.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.rating {
  font-size: 24px;
  color: #FFD700; /* Golden yellow color for stars */
}
.description {
  word-wrap: break-word;
}
.price {
  font-size: x-large;
  color: rgb(150, 19, 19);
}

del {
  font-size:x-small;
  color: darkgray;

}
.addToCart {
  background-color: rgb(248, 174, 14);
  font-size: small;
  font-weight: 700;
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 2px;
}