@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* { 
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 30px rgba(0,0,0, .5);
    transition: top 0.3s;
    z-index: 1000;
    height: 100px;
}

.header p {
    font-size: 30px;
    font-style: italic;
    color: #fff;
}
nav {
    margin: 4rem;
    display: flex;
    gap: 36px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

}

.nav-item a:hover {
    color: #fff;
    z-index: 5;
}

