* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(202, 202, 202);
  }
  
  .page {
    background-color: white;
    width: 100%;
    max-width: 1366px;
    margin: 100px auto;
    overflow: hidden;
    display: flex;
  }
  
  .side {
    display: flex;
    position: relative;
    width: 40%;
    height: 100%;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    width: 96%;
    height: 97.5%;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .content1 {
    display: block;
    justify-content: center;
    padding: 48px;
  }
  
  .content1 p {
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-left: 50px;
  }
  
  .text1 {
    color: var(--gray-cool-gray-800, #1f2937);
  
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .color {
    color: var(--gray-cool-gray-500, #6b7280);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
  }
  
  .buttons {
    display: flex;
  }
  
  .button1 {
    border-radius: 4px;
    background: #4285f4;
    /* display: flex; */
    height: 48px;
    width: 80%;
    padding: 2px;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex: 1 0 0; */
    border: none;
    position: relative;
    padding-left: 36px;
  }
  
  .button1 .buttonicn {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
  }
  
  button {
    color: white;
    text-align: center;
    font-family: open sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  
  .buttons img {
    width: 43px;
    height: 43px;
  }
  
  .button2 {
    margin-left: 10px;
    height: 48px;
    border-radius: 4px;
    background: #ecf2fc;
    border: none;
  }
  
  .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    margin-top: 15px;
  }
  
  .lines p {
    color: #e5e7eb;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .line1 {
    height: 1px;
    width: 50%;
    background-color: #e5e7eb;
  }
  
  .login {
    position: relative;
    margin-top: 15px;
  }
  
  .login::before {
    content: "@";
    font-size: 29px;
    color: rgb(116, 116, 116);
    position: absolute;
    left: 12px;
    top: 6px;
  }
  
  .login input {
    width: 100%;
    height: 48px;
    align-items: center;
    border: 1px solid #e5e7eb;
    color: #d1d5db;
    font-family: open sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 5px;
    padding-left: 50px;
  }
  
  .password {
    color: #6b7280;
    font-family: open sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  
  .password a {
    color: #6d58ba;
    font-family: open sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  
  .continue button {
    background: #724dff;
    display: flex;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
  }
  
  .questions {
    color: #6b7280;
    font-family: open sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  
  .questions a {
    color: #6d58ba;
    font-family: open sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  
  @media screen and (max-width: 1250px) {
      body {
      display: flex;
      flex-direction: column;
      background-color: white;
  }
  
      .page {
          width: 100%;
          flex-direction: column;
          margin: 0;
      }
  
      .page .main,
      .page .side {
        width: 100%;
      }
  
      .main {
        padding: 2px;
        width: 100%;
      }
  
      .page .side > img {
        width: 100%;
        height: 129px;
        object-fit: cover;
      }
  
      .page .side .content {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        margin-top: 12px;
        margin-left: 12px;
      }
  
      .content1 {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .content1 .logo {
        padding-top: 20px;
      }
  
      .content .text {
        display: none;
      }
  }
  
  @media screen and (max-width: 320px) {
    body {
      display: flex;
      flex-direction: column;
      background-color: white;
  }
  
      .page {
          width: 100%;
          flex-direction: column;
          margin: 0;
      }
  
      .page .main,
      .page .side {
        width: 100%;
      }
  
      .main {
        padding: 2px;
        width: 100%;
      }
  
      .page .side > img {
        width: 100%;
        height: 129px;
        object-fit: cover;
      }
  
      .page .side .content {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        margin-top: 12px;
        margin-left: 12px;
      }
  
      .content1 {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  
      .box {
        margin-right: 3px;
        width: 90%;
      }
  
      .login input {
        width: 100%;
      }
  
      .continue button {
        width: 100%;
      }
  
      .content1 .logo {
        padding-top: 20px;
      }
  
      .content .text {
        display: none;
      }
  }