* {
    box-sizing: border-box;
}

body {
    /* background-color: #2A2D35; */
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Jost', 'sans-serif';
    font-size: 14px;
}
.container {
    display: flex;
}
.container .left {
    background: url(images-icons/left.png) no-repeat;
    height: 100vh;
    width: 690px;
    padding-left: 72px;
    padding-top: 72px;
    padding-right: 72px;
    
}
.pixelonium-logo {
    display: flex;
    justify-content: center;
    /* margin-top: 72px;
    margin-left: 72px; */
}
.left p{
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans';
    /* Kodėl nepasikeičia dydis? */
    font-style: normal;
    align-self: stretch;
    font-weight: 600px;
    line-height: 26px;
    width: 100%;
    height: auto;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top h1 {
    font-family: 'Open Sans';
    font-style: 18px;
    margin: 0 auto;
}
.top p {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #6B7280;
    margin-top: 5px;
    padding-bottom: 20px;
}
.top {
    width: 340px;
}
.button1 {
    width: 100%;
    background: #4285F4;

    text-align: center;
    padding: 19px 0;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 238px;
}
.button1 a {
    text-decoration: none;
    color: #fff;

}
.google img {

    width: 43px;
    height: 43px;
}
 .google {
    display: flex ;
    justify-content:flex-;
    align-items: center;
    flex-direction: row;
}
.fb {
    width: 43px;
    height: 43px;
}
.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_left {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: -3px;
    top: 0;
}
.or_row p {
    color: grey;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.row_right {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-left: -3px;
    top: 0;
}
.or_row {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.username img {
    width: 48px;
    height: 48px;
}
.username input {
    border: none;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}
.username {
    display: flex;
    width: 340px;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    background: #FFF;
}

.password p{
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.password a {
    text-decoration: none;
    color: #6D58BA;
}
.password {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}
.button2 {
    color: #FFF;
    background: #724DFF;
    border: none;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
/* .password button{
    border: none;
    background-color: #724DFF;
} */
.continue {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: #724DFF;
}
.questions p {
    color: #6B7280;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.questions a {
    color:#6D58BA;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
}

/* Vaizdo perkėlimas ant mobiel versijos */

/*  @media screen and (maxwidth- 768px*) {
    left{
        flex-direction: column/

        nuotraukos su
        texto panaikinimas - display:none;
        rėmelis


page side ir main:
        nuotraukos aukštis:
        plotis:100%

        object fit:cover (nuotraukos išpozicionavimas per reikalingą visą duotą plotą)
        