:root {
    --primary-color: rgba(96, 38, 127, 1);
    --secondary-color: rgba(154, 84, 188, 1);
}

body {
    margin: 0 auto;
    background: white;
}

.headerLine {
    background-color: var(--primary-color);
    color: white;
    font-size: 5.72px;
    margin: 0;
    height: .5rem;
    text-align: center;
    vertical-align:bottom;
}
.headerLine p {
    margin: auto;
}
.headerLine p a {
    color: white;
}
.logo {
    font-family: 'Comfortaa';
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
}

.primaryNav a {
    text-decoration: none;
    color: black;
}
.navbar ul {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    display: flex;
    gap: 25px;
}
.requestDemo a {
    text-decoration: none;
    color: var(--secondary-color);
}
.requestDemo {
    border: 1px solid var(--secondary-color);
    border-radius: 2.5px;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    font-weight: 700;
    padding: .2rem .5rem;
    background-color: white;
}
.navbar nav {
    display: flex;
    gap: 25px;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 11px 0 44px;
    align-items: center;
}
.navbar {
    box-shadow: 7px 3px rgba(128, 128, 128, 0.123);
}

.hero {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 23px;
}

.reqDemo a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
}
.reqDemo {
    background: var(--secondary-color);
    width: 150px;
    height: 3rem;
    border: none;
    border-radius: 4px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
.outer-circle {
    background: rgba(245, 225, 255, 0.3);
    border-radius: 50%;
    height:500px;
    width:500px;
}
.inner-circle {
    position: relative;
    background: rgba(245, 225, 255, 0.8);
    border-radius: 50%;
    height:300px;
    width:300px;
    margin: 18px 0px 0px 100px;
    display: flex;
    justify-content: center;
}
.rectCollab {
    position: relative;
    font-family: 'Comfortaa';
    color: var(--secondary-color);
    background: white;
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    width: 125px;
    height: 236px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    vertical-align: 50%;
}
.rectCollab p {
    padding-top: 50%;
}
.explore {
    font-size: 11px;
    font-weight: 500;
    font-family: 'Roboto';
    background: white;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    width: 127px;
    height: 27px;
    margin-top: 20px;
}
.explore a {
    text-decoration: none;
    color: var(--primary-color);
}

.topBrands h1 {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 98px;
}

.brands {
    display: flex;
    justify-content: center;
    gap: 57px;
    margin-top: 43px;
}