:root {
    --primary-color: rgba(96, 38, 127, 1);
    --secondary-color: rgba(154, 84, 188, 1);
}

body {
    margin: 0 auto;
    background: white;
    font-family: 'Roboto';
}

.headerLine {
    background-color: var(--primary-color);
    color: white;
    font-size: 5.72px;
    margin: 0;
    height: .5rem;
    text-align: center;
    vertical-align:bottom;
}
.headerLine p {
    margin: auto;
}
.headerLine p a {
    color: white;
}
.logo {
    font-family: 'Comfortaa';
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
}

.primaryNav a {
    text-decoration: none;
    color: black;
}
.navbar ul {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: auto;
    display: flex;
    gap: 25px;
}
.requestDemo a {
    text-decoration: none;
    color: var(--secondary-color);
}
.requestDemo {
    border: 1px solid var(--secondary-color);
    border-radius: 2.5px;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    font-weight: 700;
    padding: .2rem .5rem;
    background-color: white;
}
.navbar nav {
    display: flex;
    gap: 25px;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 11px 0 44px;
    align-items: center;
}
.navbar {
    box-shadow: 0 5px 5px 0 #00000012;
}

.hero {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 23px;
}

.reqDemo a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.reqDemo {
    background: var(--secondary-color);
    width: 150px;
    height: 3rem;
    border: none;
    border-radius: 4px;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
.outer-circle {
    background: rgba(245, 225, 255, 0.3);
    border-radius: 50%;
    height:500px;
    width:500px;
}
.inner-circle {
    position: relative;
    background: rgba(245, 225, 255, 0.8);
    border-radius: 50%;
    height:300px;
    width:300px;
    margin: 18px 0px 0px 100px;
    display: flex;
    justify-content: center;
}
.rectCollab {
    position: relative;
    font-family: 'Comfortaa';
    color: var(--secondary-color);
    background: white;
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    width: 125px;
    height: 236px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    vertical-align: 50%;
}
.rectCollab p {
    padding-top: 50%;
}
.explore {
    font-size: 11px;
    font-weight: 500;
    background: white;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    width: 127px;
    height: 27px;
    margin-top: 20px;
}
.explore a {
    text-decoration: none;
    color: var(--primary-color);
}

.topBrands h1,
.howItHelps h1,
.container3 h1{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 98px;
}

.brands {
    display: flex;
    justify-content: center;
    gap: 57px;
    margin-top: 43px;
}
.brands img {
    width: 80px;
    height: 80px;
}

.vendorBtn {
    background: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    width: 200px;
    height: 30px;
    cursor: pointer;
}
.siteBtn {
    background: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
    width: 240px;
    height:30px;
    border: none;
    cursor: pointer;
}
.appBtns {
    width: 480px;
    height: 35px;
    box-shadow: 0 15px 15px 0 #00000012;
    display: flex;
    justify-content: space-evenly;
}

.work,
.project,
.payment,
.tutorials {
    font-size: 15px;
    font-weight: 300;
    color: black;
    width: 430px;
    height: fit-content;
    background: rgba(242, 242, 242, 1);
    text-align: center;
    padding: 20px;
}

.work span,
.project span,
.payment span,
.tutorials span {
    font-weight:600;
}

.project a,
.payment a,
.tutorials a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.right {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.left img {
    width: 250px;
    height: 450px;
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}

.fsbFriendly h1 {
    font-size: 22px;
    font-weight: 500;
}

.fsbFriendly p {
    font-size: 15px;
    font-weight: 300;
    width: fit-content;
    width: 800px;
    text-align: center;
}

.fsbFriendly img.videoPic {
    position: relative;
    width: 1000px;
    height: 500px;
    margin-top: 15px;
    z-index: -1;
}

.fsbFriendly img.playBtn {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 360px;
    text-align: center;
    z-index: 2;
}

.fsbFriendly {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.threePics img {
    height: 180px;
    width: fit-content;
}
.threePics p {
    font-size: 15px;
}
.threePics p span {
    color: var(--primary-color);
}

.threePics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 23px;
}