body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    background-color: #efe1d1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

}

nav {
    background-color: rgba(80, 12, 44, 0.836);
}

.nav-container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-container input, 
.nav-container select {
    background-color:  #a78295c9;
    border: 0;
    padding: .5rem;
    border-radius:  5px;
    color: white;
    width: 17%;
}
.nav-container input::placeholder {
    color: white;
}

.nav-container button {
    background-color: #3f2e3eb9;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: .25rem .5rem;
    cursor: pointer;
    transition: .2s;

}
.nav-container button:hover {
    background-color: #3d263cb9;
}

.drinks {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.drink {
    background-color: #944a7c36;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(45, 53, 59, 0.76);

}

.drink img {
    width: 100%;
    border-radius: 20px;
}

.drink .drinkTitle {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .drinks {
        margin-top: 2rem;
        margin-left: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .nav-container {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
}
.modalBg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 29, 44, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    position: relative;
    background-color: rgb(167, 130, 149);
    max-width: 800px;
    width: 60%;
    max-height: 800px;
    height: 60%;
    padding: 1.5rem;
    overflow-y: scroll;

}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(58, 7, 7, 0.4); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(58, 7, 7, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.modalCloseBtn {
    position: absolute;
    right: 2%;
    top: 1%;
    font-size: 20px;
    cursor: pointer;
    width: min-content;
}
.modalCloseBtn:hover {
    color: rgb(47, 6, 158);
}

.modalCloseBtn svg {
    fill: rgba(58, 7, 7, 0.4);
}
.modalCloseBtn svg:hover {
    fill: rgba(58, 7, 7, 0.678);
}

.modalDetails h3 {
    font-size:x-large;
    font-style: italic;
    text-align: center;
}

.modalImg {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}
.row p {
    width: 80%;
    text-align: left;
}
.row b {
    font-style: italic;
}
p {
    margin: 0;
}
.ingredients {
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredient span {
    width: 50%;
    text-align: left;
}